*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 60vw;
}

.title{
  background-color: cadetblue;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  padding: 12px;
}

@media(width<500px){
.main{
  width: 86vw;
}
}