*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main h1{
  font-family: sans-serif;
  font-size: 27px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1.9px;
  font-weight: 400;
}

.main input{
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.btn{
  font-size: 17px;
  padding: 10px;
  background-color: antiquewhite;
  color: black;
  margin-bottom: 40px;
  border-radius: 6px;
}

.list{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1.4px;
  font-weight: 400;
}

.remove_div{
  margin-top: 20px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

button{
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 7px;
  border-radius: 6px;
}


@media(width<500px){
  .main{
    width: 86vw;
  }
}