*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60vw;
}

.main p{
    font-size: 22px;
    font-family: sans-serif;
}


@media(width<500px){
    .main{
        width: 85vw;
    }
}
