*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    width: 60vw;
    background-color: cornflowerblue;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main h1{
    font-size: 23px;
    font-family: sans-serif;
    letter-spacing: 1.3px;
    color: white;
    font-weight: 400;
    text-align: center;
}


@media(width<500px){
    .main{
        width: 86vw;
    }
}
