*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  width: 100vw;
}

table{
  width: 100vw;
}

th, td{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
}

th{
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
}