*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    padding: 10px;
    width: 60vw;
    border: 1px solid black;
    padding-bottom: 10px;
}

h3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.componentA{
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.componentB{
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

p{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

@media(width<500px){
    .main{
        width: 85vw;
    }
}