*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top: 30px;
    background-color: cadetblue;
    width: 60vw;
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main h2{
    margin-bottom: 14px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    letter-spacing: 1.4px;
    font-weight: 400;
    text-align: center;
}

.child_div1{
    display: flex;
    flex-direction: column;
}

.main input{
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid white;
}

.main button{
    font-size: 17px;
    font-family: sans-serif;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.input_divs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(width<600px){
    .main{
        width: 90vw;
    }
}