*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  background-color: chocolate;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60vw;
}

h2{
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1.3px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media(width<500px){
  .main {
    width: 86vw;
  }
}